<!-- Footer -->
<footer class="page-footer font-small bg-white" style="margin-top: 127px;">

	<!-- Copyright -->
	<div class="footer-copyright text-center py-3">© 2018 Copyright: Gab&Jel
	</div>
	<!-- Copyright -->

</footer>
<!-- Footer -->